/* Логотип*/

.logo-first {
  margin-right: 93px;
  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-past {
  color: #000000;
}

.logo-past-footer {
  color: $primary-white-color;
}